body{
    background-color: aquamarine;
}
main{
    background: purple;
    border: 1px solid black;
    height: 200vh;
}
.items{
    background-color: orange;
    border-color:1px solid black;
}
.container{
    background-color: rgb(185, 43, 163);
    border: 1px solid   black;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;

}
.item1{
    order:1;
    flex-grow: 2;
}
.item2{
    order: 2;
}
.item3{
    order: 3;
    flex-shrink: 5;
}
.item4{
    order: 4;
}
.item5{
    order: 5;
}
.item6{
    order: 6;
}
.item7{
    order: 7;
}
.item8{
    order: 8;
}
.item9{
    order: 9;
}   
.item10{
    order: 10;
}
@media screen and (max-width:300px){
    body{
        background-color: yellow;
    }
    
}

