header{
    border: 1px solid red;
    background-color: red;
    border-radius: 3px;
    width: 100%;
    height: 80px;
    margin: 2mm;
}
nav{
     border: 1px solid rgb(234, 255, 0);
    background-color: rgb(255, 255, 0);
    border-radius: 3px;
    width: 10%;
    height: 20px;
    display: flex;
    margin-left: 80%;
}
.main1{
    display :flex ;
}
.main2{
     border: 1px solid rgb(0, 34, 255);
    background-color: rgb(0, 8, 255);
    border-radius: 3px;
    width: 70%;
    height: 550px;
    margin: 2mm;
}
article{
      border: 1px solid rgb(17, 122, 63);
    background-color: rgb(46, 148, 74);
    border-radius: 3px;
    width: 95%;
    height: 400px;
    margin: 2mm;
}
.section1{
      border: 1px solid rgb(105, 239, 176);
    background-color:  rgb(105, 239, 176);
    border-radius: 3px;
    width: 90%;
    height: 100px;
    margin: 2mm;

}
.section2{
      border: 1px solid  rgb(105, 239, 176);
    background-color:  rgb(105, 239, 176);
    border-radius: 3px;
    width: 95%;
    height: 110px;
    margin: 2mm;
}
.section3{
      border: 1px solid  rgb(105, 239, 176);
    background-color:  rgb(105, 239, 176);
    border-radius: 3px;
    width: 95%;
    height: 200px;
    margin: 2mm;
}
.footer1{
      border: 1px solid  rgb(227, 90, 255);
    background-color: rgb(227, 90, 255);
    border-radius: 3px;
    width: 95%;
    height: 50px;
    margin: 2mm;
}
aside{
    border: 1px solid rgb(20, 125, 144);
    background-color: rgb(16, 125, 125);
    border-radius: 3px;
    width: 30%;
    height: 550px;
    margin: 2mm;
    
}
.footer2{
      border: 1px solid  rgb(227, 90, 255);
    background-color: rgb(227, 90, 255);
    border-radius: 3px;
    width: 100%;
    height: 60px;
    margin: 2mm;
}