header{
    background-color: rgb(215, 71, 71);
   border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 80px;
    margin: auto;
    text-align: center;
}
main{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
article{
    background-color: rgb(34, 228, 60);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    text-align: center;
}
nav{
    background-color: rgb(42, 155, 248);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 40px;
    margin: auto;
    text-align: center;
}
aside{
    background-color: rgb(249, 183, 27);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 300px;
    text-align: center;
}
section{
    background-color: rgb(20, 123, 10);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 80%;
    height: 140px;
    margin: auto;
    text-align: center;
}
footer{
    background-color: rgb(240, 60, 234);
    border: 2px solid rgb(243, 236, 236);
    border-radius: 2px;
    width: 90%;
    height: 50px;
    margin: auto;
    text-align: center;
}