header{
    background-color: rgb(79, 216, 111);
   border: 2px solid rgb(243, 236, 236);
    border-radius: 10px;
    width: 99%;
    height: 400px;
    margin: 2mm;
}
nav{
    background-color: rgb(227, 119, 191);
    border: 2px solid rgb(243, 243, 236);
    border-radius: 10px;
    width: 99%;
    height: 80px;
    margin: 2mm;
}

main{
    width: 99%;
    height: 400px;
    margin: 2mm;  
    display: flex;
}
main.main1{
   flex-direction: column;
}
main.main2{
    width: 100%;

}
aside{
    background-color: rgb(226, 58, 94);
    border: px solid rgb(243, 236, 236);  
    border-radius: 30px;
    width: 25%;
    height: 400px;
    margin: 2mm;
    text-align: center;
}
footer{
    background-color: rgb(220, 240, 108);
    border: 5px solid rgb(243, 236, 236);
    border-radius: 15px;
    width: 99%;
    height: 60px;
    margin: 2mm;
}
section.seccion1{
    background-color: rgb(154, 34, 160);
    border-radius: 10px;
    width: 50%;
    height: 250px;
    margin: 2mm;
}
section.seccion2{
    background-color: rgb(155, 47, 160);
    border-radius: 10px;
    width: 50%;
    height: 250px;
    margin: 2mm;
}    